/* styles.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

fieldset {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: relative;
}

/* Add this rule to color the entire fieldset on hover */
fieldset:hover {
    transform: translateY(-5px);
    background-color: #b2ebf2;
}

/* Add this rule to color the label text */
fieldset label {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
